In [1]:
#! pip3 install geo2kml
#! pip install pykml
#! pip install geopy
#! pip install gpx

### Splitting set of points to latitudinal profiles
it is assumed that all points in the profile deviate from the initial latitude by less than 30 m

In [2]:
#import libraries
import pandas as pd
from datetime import datetime, timedelta
from geopy.distance import geodesic as GD

In [9]:
# let's determine the current date
dt = str(datetime.now().date())
dt

'2023-12-05'

In [25]:
# Kolcovskaya.csv  pinega_kimja.csv   sovpoolie_profile.csv m.csv
# csv file name input
n=input('Enter name of csv_file  ', )

Enter name of csv_file  m1.csv

In [29]:
# cut subsidery infromation
df = pd.read_csv(n, sep=',', skiprows=24)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 646 entries, 0 to 645
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             646 non-null    object
 1   lat            640 non-null    object
 2   lon            630 non-null    object
 3   ele            633 non-null    object
 4   time           629 non-null    object
 5   magvar         3 non-null      object
 6   geoidheight    3 non-null      object
 7   name           533 non-null    object
 8   cmt            528 non-null    object
 9   desc           528 non-null    object
 10  src            1 non-null      object
 11  sym            528 non-null    object
 12  type           528 non-null    object
 13  fix            1 non-null      object
 14  sat            1 non-null      object
 15  hdop           1 non-null      object
 16  vdop           1 non-null      object
 17  pdop           1 non-null      object
 18  ageofdgpsdata  1 non-null      object
 19  dgpsid         1 non-null      object
 20  Proximity      1 non-null      object
 21  Temperature    1 non-null      object
 22  Depth          1 non-null      object
 23  DisplayMode    528 non-null    object
 24  Samples        1 non-null      object
 25  Expiration     1 non-null      object
 26  CreationTime   527 non-null    object
 27  Unnamed: 27    0 non-null      float64
dtypes: float64(1), object(27)
memory usage: 141.4+ KB

In [31]:
#define the bottom line of useful information
max_ind = df[df['ID'] == 'Address'].index.tolist()[0]-1

In [32]:
df

,ID,lat,lon,ele,time,magvar,geoidheight,name,cmt,desc,...,ageofdgpsdata,dgpsid,Proximity,Temperature,Depth,DisplayMode,Samples,Expiration,CreationTime,Unnamed: 27
0,1,62.660455824807286,39.753960510715842,0,2023-09-20T06:47:44Z,NaN,NaN,1010,NAME: 10,NAME: 10,...,NaN,NaN,NaN,NaN,NaN,SymbolAndName,NaN,NaN,2023-09-20T06:47:44Z,NaN
1,2,62.663325788453221,39.738719696179032,0,2023-09-20T06:47:44Z,NaN,NaN,1011,NAME: 101,NAME: 101,...,NaN,NaN,NaN,NaN,NaN,SymbolAndName,NaN,NaN,2023-09-20T06:47:44Z,NaN
2,3,62.663057651370764,39.760839119553566,0,2023-09-20T06:47:44Z,NaN,NaN,102,NAME: 102,NAME: 102,...,NaN,NaN,NaN,NaN,NaN,SymbolAndName,NaN,NaN,2023-09-20T06:47:44Z,NaN
3,4,62.663137195631862,39.754417911171913,0,2023-09-20T06:47:44Z,NaN,NaN,1031,NAME: 103,NAME: 103,...,NaN,NaN,NaN,NaN,NaN,SymbolAndName,NaN,NaN,2023-09-20T06:47:44Z,NaN
4,5,62.663226462900639,39.747330425307155,0,2023-09-20T06:47:44Z,NaN,NaN,104,NAME: 104,NAME: 104,...,NaN,NaN,NaN,NaN,NaN,SymbolAndName,NaN,NaN,2023-09-20T06:47:44Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,95,4,62.588222678750753,39.838501224294305,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
642,96,4,62.58756972849369,39.838286647573113,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
643,97,4,62.588341366499662,39.835239658132195,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
644,98,4,62.587688416242599,39.836097965016961,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
645,99,4,62.587510384619236,39.837986240163445,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
max_ind

526

In [34]:
#choose only data with information about points

df_clean=df.loc[0:max_ind,['ID','name','lat','lon', 'ele', 'desc','CreationTime']]
df_clean.head()

,ID,name,lat,lon,ele,desc,CreationTime
0,1,1010,62.660455824807286,39.753960510715842,0,NAME: 10,2023-09-20T06:47:44Z
1,2,1011,62.663325788453221,39.738719696179032,0,NAME: 101,2023-09-20T06:47:44Z
2,3,102,62.663057651370764,39.760839119553566,0,NAME: 102,2023-09-20T06:47:44Z
3,4,1031,62.663137195631862,39.754417911171913,0,NAME: 103,2023-09-20T06:47:44Z
4,5,104,62.663226462900639,39.747330425307155,0,NAME: 104,2023-09-20T06:47:44Z

In [35]:
#convert time to DateTime format
df_clean['CreationTime'] = pd.to_datetime(df_clean['CreationTime'])
#convert to float 
df_clean[['lat','lon','ele']] = df_clean[['lat','lon','ele']].astype(float)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            527 non-null    object
 1   name          527 non-null    object
 2   lat           527 non-null    float64
 3   lon           527 non-null    float64
 4   ele           527 non-null    float64
 5   desc          527 non-null    object
 6   CreationTime  527 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(3), object(3)
memory usage: 28.9+ KB

In [36]:
#clean desc
df_clean.head()

  ID  name        lat        lon  ele       desc              CreationTime
0  1  1010  62.660456  39.753961  0.0   NAME: 10 2023-09-20 06:47:44+00:00
1  2  1011  62.663326  39.738720  0.0  NAME: 101 2023-09-20 06:47:44+00:00
2  3   102  62.663058  39.760839  0.0  NAME: 102 2023-09-20 06:47:44+00:00
3  4  1031  62.663137  39.754418  0.0  NAME: 103 2023-09-20 06:47:44+00:00
4  5   104  62.663226  39.747330  0.0  NAME: 104 2023-09-20 06:47:44+00:00

In [37]:
#latitude distance calculation function
def diastance_lat(row):
    # empty lists for coordinates
    cordx = []
    #list of coordinates of the calculated point with longitude equal to the reference
    cordx.append(row['lat'])
    cordx.append(cord0[1])
    #calculate the distance by latitude in m
    d=GD(cord0,cordx).m
    return round(d)

In [38]:
#distance calculation function
def diastance1(row):
    # empty lists for coordinates
    cordx = []
    #list of reference point coordinates 
    cordx.append(row['lat'])
    cordx.append(row['lon'])
    #calculate the distance in m
    d=GD(cord0,cordx).m
    return round(d)

In [43]:
# create list of first points in profiles
start_points = ['11_1', '10_1','9_1','8_1','7_1','6_1','5_1','4_1','3_1','2_1','1_1']
i=0
for point in start_points:
    i=i+1
    pr_number='pr_'+str(i)
    first_ind = df_clean[df_clean['name'] == point].index.tolist()[0]
    #create a list of coordinates of the zero point
    cord0 = []
    cord0.append(df_clean.loc[first_ind,'lat'])
    cord0.append(df_clean.loc[first_ind,'lon'])
    #distance on lat calculation 
    df_clean['distance_lat']=df_clean.apply(diastance_lat, axis=1)
    #save points nearst to zero point in latitude
    pr = df_clean.query('distance_lat<30')
    # distance to zero point
    pr['distance'] = pr.apply(diastance1, axis=1)
    pr= pr.sort_values(by = 'distance').reset_index(drop=True)
    #rename to correct point name
    pr['name'] = pr.index.tolist()
    pr['name'] = pr_number+'_'+pr['name'].astype('str')
    pr=pr[['ID','name', 'lat','lon','ele','desc', 'CreationTime']]
    #save profil to csv
    pr.to_csv('profile_'+pr_number+'.csv', index= False )

/tmp/ipykernel_8399/2635310790.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pr['distance'] = pr.apply(diastance1, axis=1)
/tmp/ipykernel_8399/2635310790.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pr['distance'] = pr.apply(diastance1, axis=1)
/tmp/ipykernel_8399/2635310790.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pr['distance'] = pr.apply(diastance1, axis=1)
/tmp/ipykernel_8399/2635310790.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pr['distance'] = pr.apply(diastance1, axis=1)
/tmp/ipykernel_8399/2635310790.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pr['distance'] = pr.apply(diastance1, axis=1)
/tmp/ipykernel_8399/2635310790.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pr['distance'] = pr.apply(diastance1, axis=1)
/tmp/ipykernel_8399/2635310790.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pr['distance'] = pr.apply(diastance1, axis=1)
/tmp/ipykernel_8399/2635310790.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pr['distance'] = pr.apply(diastance1, axis=1)
/tmp/ipykernel_8399/2635310790.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pr['distance'] = pr.apply(diastance1, axis=1)
/tmp/ipykernel_8399/2635310790.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pr['distance'] = pr.apply(diastance1, axis=1)
/tmp/ipykernel_8399/2635310790.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pr['distance'] = pr.apply(diastance1, axis=1)